body {
    font-family: sans-serif;
  }
  
  th,
  td {
      padding: 10px;
  }
  
  thead,
  tfoot {
      background-color: lightgrey;
  }
  
  th[colspan] {
    text-transform: uppercase;
    font-size: 30px;
  }
  
  tr:hover {
    background-color: lightgrey;
  }